.young-serif-regular {
    font-family: "Young Serif", serif;
    font-style: normal;
    color: rgb(55, 53, 55);
    font-weight: lighter;
}

.outfit-dos {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

body {
    margin-top: 75px;
    box-sizing: border-box;
    background-color: rgb(243, 229, 216);
}

.bloque {
    background-color: white;
    border-radius: 30px;
    box-sizing: border-box;
    text-align: justify;
    font-family: "Outfit", sans-serif;
    color: rgb(108, 106, 103);
    max-width: 650px;  
    padding: 30px;
    margin: 0 auto;
}

img {
    border-radius: 15px;
    width: 550px;
    margin: 20px;
}

.outfit-uno {
    font-family: "Outfit", system-ui;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: normal;
}

.inicial {
    color: rgb(121, 14, 79);
    text-align: left;
    margin-top: 60px;
    margin-left: 35px;
    padding-top: 18px;
    padding-bottom: 1px;
}

.preparacion {
    background-color: rgba(248, 234, 248, 0.723);
    border-radius: 10px;
    height: 200px;
    margin-top: 0px;
}

.lista {
    margin-bottom: 5px;
    padding-top: 1px;
    padding-left: 50px;
    padding-bottom: 5px;
    text-align: justify;
    font-size: medium;
}

.listado {
    padding-left: 20px;
}

.sub {
    font-family: "Young Serif", serif;
    color: rgb(132, 60, 36);
    font-size: 30px;
    font-weight: lighter;
    margin-top: 30px;
    margin-bottom: 20px;
}

.fuente {
    font-size: 400px;
    text-align: left;
    font-family: "Young Serif", serif;
    margin-top: auto;
    margin-bottom: auto
}

.final {
    margin-top: 0;
    font-size: 16px;
}

.info {
    padding-top: 2px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 16px;
    padding-left: 35px;
}

.tb,
.tbdos,
.tbtres,
.tbcuatro {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 300px;
    font-weight: bold;
    color: rgb(132, 60, 36);
}

.tbdos {
    padding-left: 316px;
}

.tbtres {
    padding-left: 308px;
}

.tbcuatro {
    padding-left: 334px;
}

.separador,
.tabla {
    color: rgb(140, 136, 136);
    opacity: 40%;
    width: 99%;
    margin-top: 40px; 
    margin-bottom: 15px;
    height: 1px;
}

.tabla {
    color: rgb(140, 136, 136);
    opacity: 40%;
    width: 99%;
    margin-top: 0px; 
    margin-bottom: 0px;
    height: 1px;
}


.contenedor {
    margin: 20px;
}

.instruction-text {
        color: rgb(108, 106, 103);
        font-weight: normal;  
        line-height: 1.4;   
}

.principal {
   margin-bottom: 1px;
}
